<div class="panel panel-default panel-intro">

    <div class="panel-body">
        <h2 class="page-header">
            {:__('Member center')}
            <!--<a href="{:url('wanlshop.user/profile')}" class="btn btn-success pull-right"><i class="fa fa-pencil"></i>
                {:__('Profile')}</a>-->
        </h2>
        <div class="row user-baseinfo">
            <div class="col-md-3 col-sm-3 col-xs-6 text-center user-center">
                <a title="{:__('Click to edit')}">
                    <span class="avatar-img"><img src="{$user.avatar|cdnurl}" alt="" style="width:100px;"></span>
                </a>
            </div>
            <div class="col-md-9 col-sm-9 col-xs-6">
                <!-- Content -->
                <div class="ui-content">
                    <!-- Heading -->
                    <h4><a>{$user.nickname}</a></h4>
                    <!-- Paragraph -->
                    <p>
                        <a>
                            {$user.bio|default=__("This guy hasn't written anything yet")}
                        </a>
                    </p>
                    <!-- Success -->
                </div>
            </div>

            <div class="col-md-9 col-sm-9 col-xs-12">
                <!-- Content -->
                <div class="ui-content">
                    <div class="basicinfo">
                        <div class="row">
                            <div class="col-xs-4 col-md-2">{:__('Money')}</div>
                            <div class="col-xs-8 col-md-4">
                                {$user.money}
                            </div>
                            <div class="col-xs-4 col-md-2">累計傭金</div>
                            <div class="col-xs-8 col-md-4">123 $</div>
                            <div class="col-xs-4 col-md-2">一級成員</div>
                            <div class="col-xs-8 col-md-4">{$childslist[0]['count']}個</div>
                            <div class="col-xs-4 col-md-2">二級成員</div>
                            <div class="col-xs-8 col-md-4">  {$childslist[1]['count']}個</div>
                            <div class="col-xs-4 col-md-2">三級成員</div>
                            <div class="col-xs-8 col-md-4">{$childslist[2]['count']}個</div>
                            <div class="col-xs-4 col-md-2">{:__('Score')}</div>
                            <div class="col-xs-8 col-md-4">
                                <a href="javascript:;" class="viewscore">{$user.score}</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4 col-md-2">{:__('Successions')}</div>
                            <div class="col-xs-8 col-md-4">{$user.successions} {:__('Day')}</div>
                            <div class="col-xs-4 col-md-2">{:__('Maxsuccessions')}</div>
                            <div class="col-xs-8 col-md-4">{$user.maxsuccessions} {:__('Day')}</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4 col-md-2">{:__('Logintime')}</div>
                            <div class="col-xs-8 col-md-4">{$user.logintime|date="Y-m-d H:i:s",###}</div>
                            <div class="col-xs-4 col-md-2">{:__('Prevtime')}</div>
                            <div class="col-xs-8 col-md-4">{$user.prevtime|date="Y-m-d H:i:s",###}</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>




    <style>
        .team_list{
            width: 98%;
            height: 100px;
            margin: 10px auto;
            border-bottom:solid 1px #ccc;
            overflow: hidden;
        }
        .team_user{width:90px;height:90px;float:left;text-align: center;overflow: hidden;}
        .team_user img{border-radius:50%;width:60px;height:60px;}
        .team_info{
            width:-webkit-calc(100% - 100px);
            width:-moz-calc(100% - 100px);
            width:calc(100% - 100px);
            height: 90px;
            line-height: 30px;
            float: right;
            overflow: hidden;
        }
        .team_info span{font-size:14px;color:red;}
        .team_money_log{
            width: 98%;
            height: 50px;
            margin: 10px auto;
            border-bottom:solid 1px #ccc;
            overflow: hidden;}
        .team_money_log_type{
            width: 80px;
            height: 40px;
            line-height: 40px;
            float:left;
            text-align: center;
            font-size: 14px;
            font-weight: bold;
            color: red;
            overflow: hidden;
        }
        .team_money_log_info{
            width:-webkit-calc(100% - 140px);
            width:-moz-calc(100% - 140px);
            width:calc(100% - 140px);
            height: 40px;
            line-height: 20px;
            float: left;
            overflow: hidden;

        }
        .team_money_log_money{
            width: 60px;
            height: 40px;
            line-height: 40px;
            float:left;
            text-align: center;
            font-size: 14px;
            font-weight: bold;
            color: red;
            overflow: hidden;
        }
    </style>
    <div class="panel panel-default panel-intro">



        <div class="panel-heading">


            <ul class="nav nav-tabs"  id="mytab" data-field="commission_level">


                {foreach name="lists" item="vo"}

                <li {eq name="key" value="0"} class="active" {/eq} 「><a rel="#team{$key}"  href="#team{$key}" data-value="{$key}" data-toggle="tab">{$vo}</a></li>

                {/foreach}

            </ul>

        </div>



            <div class="tab-content">


                {foreach name="childslist" item="vo"}
                <div id="team{$key}"  {if condition="($key == '0')"} class="tab-pane active" {else /} class="tab-pane"{/if}>
                <div class="team_list">
                    <div class="team_user">
                        <img src="https://shoptw.oss-cn-hongkong.aliyuncs.com/assets/img/avatar.png" alt="0988880001" >
                        <br>{$user.nickname}</a></h4>
                        {$key}{$key}
                    </div>
                    <div class="team_info">
                      一級成員：<span>{$vo.count}</span>個 <br>
                        累計批發：<span>{$vo.pf}</span> $<br>
                        累計獲得傭金：<span>{$vo.yj}</span>$

                    </div>
                </div>
            </div>



        {/foreach}










                            <table id="table" class="table table-striped table-bordered table-hover" width="100%"> </table>
                        </div>
                    </div>
                </div>
                </div>
                </div>

                </div>
