<style type="text/css">

	#c-express_name{

		width: 300px;

		display: block;

	}

	.control-label span{

		font-weight: normal;

		color: #777;

	}

</style>

<form id="edit-form" role="form" data-toggle="validator" method="POST" action="">

	<div class="form-group">

		<label for="shopname" class="control-label">快遞公司22:</label>

		<select id="c-express_name" name="row[express_name]" class="form-control" data-rule="required">

			<option value="">請選擇快遞公司</option>

			{volist name="kuaidiList" id="vo"}

			<option value="{$vo.code}">{$vo.name}</option>

			{/volist}

		</select> 

	</div>



	<div class="form-group">

		<label for="shopname" class="control-label">快遞單:</label>

		<table class="table table-bordered table-striped">

			<thead>

				<tr>

					<th>ID</th>

					<th>訂單號</th>

					<th>狀態</th>

					<th>姓名</th>

					<th>行動電話</th>

					<th>地區</th>

					<th>快遞單號</th>

				</tr>

			</thead>

			<tbody>

				{volist name="lists" id="order"}

				<tr>

					<th style="text-align: center; vertical-align: middle;" scope="row">{$order.id}</th>

					<td style="text-align: center; vertical-align: middle;">{$order.order_no}</td>

					<td style="vertical-align: middle;"><span class="text-blue">{$order.state_text}</span></td>

					<td style="text-align: center; vertical-align: middle;">{$order.address.name}</td>

					<td style="text-align: center; vertical-align: middle;">{$order.address.mobile}</td>

					<td style="vertical-align: middle;">{$order.address.address}</td>

					<td style="text-align: center; vertical-align: middle;">

						<input type="hidden" name="row[order][id][]" value="{$order.id}">

						<input id="c-express_no" data-rule="required" class="form-control" name="row[order][express_no][]" type="text" value="">

					</td>

				</tr>

				{/volist}

				

				{volist name="data" id="order"}

				<tr>

					<th style="text-align: center; vertical-align: middle;" scope="row">{$order.id}</th>

					<td style="text-align: center; vertical-align: middle;">{$order.order_no}</td>

					<td style="vertical-align: middle;"><span class="text-blue">{$order.state_text}</span></td>

					<td style="text-align: center; vertical-align: middle;">{$order.address.name}</td>

					<td style="text-align: center; vertical-align: middle;">{$order.address.mobile}</td>

					<td style="vertical-align: middle;">{$order.address.address}</td>

					<td style="text-align: center; vertical-align: middle;"><input class="form-control" type="text" value="" placeholder="此訂單不可發貨填單" disabled></td>

				</tr>

				{/volist}

			</tbody>

		</table>

	</div>



	<!-- <div class="form-group">

		<label for="shopname" class="control-label">設置訂單: <span>（開啓後將所選訂單設置爲發貨）</span></label>

		<p>{:Form::switcher('row[setorder]', '0', ['color'=>'info'])}</p>

	</div> -->



	<div class="form-group layer-footer">

		<label class="control-label col-xs-12 col-sm-1"></label>

		<div class="col-xs-12 col-sm-10">

			<button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>

			<button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>

		</div>

	</div>

</form>
