<style>
    .basicinfo {
        margin: 15px 0;
    }

    .basicinfo .row > .col-xs-4 {
        padding-right: 0;
    }

    .basicinfo .row > div {
        margin: 5px 0;
    }
</style>
<div id="content-container" class="container">
    <div class="row">
     
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h2 class="page-header">
                        邀請開店
                    </h2>
                    <div class="row user-baseinfo">
                        <div class="col-md-9 col-sm-9 col-xs-12">
                         <h3>您的專屬邀請碼爲：</h3>
                         <h2>{$user.verifycode}</h2>
                         <h3>提示：{$site.name}賣家系統爲邀請制入駐，邀請好友入駐有助於提升店舖權重</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
