<div class="sidenav">

	<ul class="list-group">

		<li class="list-group-heading">Transaction management</li>

		<li class="list-group-item active"> <a href="/index/user/index.html"><i class="fa fa-user-circle fa-fw"></i> item sold</a></li>

		<li class="list-group-item "> <a href="/index/user/profile.html"><i class="fa fa-user-o fa-fw"></i> Comment management</a> </li>

		<li class="list-group-item "> <a href="/index/user/profile.html"><i class="fa fa-user-o fa-fw"></i> Refund management</a> </li>

	</ul>

	<ul class="list-group">

		<li class="list-group-heading">Logistics management</li>

		<li class="list-group-item"> <a href="/index/user/index.html"><i class="fa fa-user-circle fa-fw"></i> 發貨</a></li>

		<li class="list-group-item "> <a href="/index/user/profile.html"><i class="fa fa-user-o fa-fw"></i> 運費範本</a> </li>

	</ul>

	<ul class="list-group">

		<li class="list-group-heading">commodity management</li>

		<li class="list-group-item"> <a href="/index/user/index.html"><i class="fa fa-user-circle fa-fw"></i> 發布商品</a></li>

		<li class="list-group-item "> <a href="/index/user/profile.html"><i class="fa fa-user-o fa-fw"></i> 出售中的商品</a> </li>

		<li class="list-group-item "> <a href="/index/user/changepwd.html"><i class="fa fa-key fa-fw"></i> 倉庫中的商品</a> </li>

	</ul>

	<ul class="list-group">

		<li class="list-group-heading">Store management</li>

		<li class="list-group-item"> <a href="/index/user/index.html"><i class="fa fa-user-circle fa-fw"></i> 店鋪裝修</a></li>

		<li class="list-group-item "> <a href="/index/user/profile.html"><i class="fa fa-user-o fa-fw"></i> 類目管理</a> </li>

		<li class="list-group-item "> <a href="/index/user/changepwd.html"><i class="fa fa-key fa-fw"></i> 店鋪設定</a> </li>

	</ul>

	<ul class="list-group">

		<li class="list-group-heading">行銷活動</li>

		<li class="list-group-item"> <a href="/index/user/index.html"><i class="fa fa-user-circle fa-fw"></i> 萬聯客</a></li>

		<li class="list-group-item "> <a href="/index/user/profile.html"><i class="fa fa-user-o fa-fw"></i> 拼團</a> </li>

		<li class="list-group-item "> <a href="/index/user/changepwd.html"><i class="fa fa-key fa-fw"></i> 砍價</a> </li>

		<li class="list-group-item "> <a href="/index/user/changepwd.html"><i class="fa fa-key fa-fw"></i> 卡券</a> </li>

		<li class="list-group-item "> <a href="/index/user/changepwd.html"><i class="fa fa-key fa-fw"></i> 限時秒殺</a> </li>

		<li class="list-group-item "> <a href="/index/user/changepwd.html"><i class="fa fa-key fa-fw"></i> 減滿</a> </li>

	</ul>

</div>