<link href="__CDN__/assets/addons/wanlshop/css/appUI.css?v={$site['version']}" rel="stylesheet">

<link href="__CDN__/assets/addons/wanlshop/css/page.css?v={$site['version']}" rel="stylesheet">

<link href="__CDN__/assets/addons/wanlshop/css/iconfont.css?v={$site['version']}" rel="stylesheet">

<div class="panel panel-default panel-intro" id="app" v-cloak>

	<div class="panel-body" style="padding: 0;">

		<div id="myTabContent" class="tab-content">

			<div class="tab-pane fade active in" id="one">

				<div class="widget-body no-padding">

					<div class="wanl-page" :class="device">

						<!-- 左側 -->

						<div class="left">

							<div class="wanl-tool">

								<div class="menu">

									<div class="dropdown">

										<div class="bnt" id="dLabel" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

											<span>{{device}}</span><span class="caret"></span>

										</div>

										<ul class="dropdown-menu" aria-labelledby="dLabel">

											<li><a @click="onDevice('huaweiMate30')">華爲Mate30</a></li>

											<li role="separator" class="divider"></li>

											<li><a @click="onDevice('iPhoneX')">iPhoneX</a></li>

											<li><a @click="onDevice('iPhoneXmax')">iPhoneXmax</a></li>

											<li><a @click="onDevice('iPhone7')">iPhone7</a></li>

											<li><a @click="onDevice('iPhone7plus')">iPhone7plus</a></li>

											<li role="separator" class="divider"></li>

											<li><a @click="onDevice('OPPORenoAce')">OPPORenoAce</a></li>

											<li><a @click="onDevice('vivoNEX3')">vivoNEX3</a></li>

											<li><a @click="onDevice('xiaomi9Pro')">xiaomi9Pro</a></li>

										</ul>

									</div>

									<div class="dropdown">

										<div class="bnt" id="dLabel2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

											<span>{{signal}}</span><span class="caret"></span>

										</div>

										<ul class="dropdown-menu" aria-labelledby="dLabel2">

											<li><a @click="onSignal('WIFI')">WIFI</a></li>

											<li role="separator" class="divider"></li>

											<li><a @click="onSignal('3G')">3G</a></li>

											<li><a @click="onSignal('4G')">4G</a></li>

											<li><a @click="onSignal('5G')">5G</a></li>

										</ul>

									</div>



									<!-- <div class="dropdown">

										<div class="bnt" id="dLabel3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

											<span>關於系統</span><span class="caret"></span>

										</div>

										<ul class="dropdown-menu" aria-labelledby="dLabel3">

											<li><a>使用教程</a></li>

											<li role="separator" class="divider"></li>

											<li><a>萬聯科技</a></li>

											<li><a>WANLSHOP v1.0.1</a></li>

										</ul>

									</div> -->

								</div>

								<div class="Button">

									<div class="dropdown">

										<div class="bnt" id="dLabel3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

											<span>發布</span><span class="caret"></span>

										</div>

										<ul class="dropdown-menu" aria-labelledby="dLabel3">

											<li @click="publish"><a href="javascript:void(0);">發布頁面</a></li>

											<li role="separator" class="divider"></li>

											<li v-if="pageRecover.length == 0"><a href="javascript:void(0);"><i class="wlIcon wlIcon-31tishi"></i> 沒有找到任何歷史條</a></li>

											<li v-for="list in pageRecover" @click="recover(list.id)"><a href="javascript:void(0);">恢復到 {{list.createtime|formatDate}} 版本</a></li>

										</ul>

									</div>

								</div>

							</div>

							<!-- 手機 -->

							<div class="frame">

								<div class="preview">

									<div ref="parant" class="page" :style="{'background-color': pageData.page.style.pageBackgroundColor,'background-image': 'url('+pageData.page.style.pageBackgroundImage+')'}">

										<!-- 導航 -->

										<div class="navigation" :class="{action: type == 'page'}" :style="{'background-color': pageData.page.style.navigationBarBackgroundColor,color:pageData.page.style.navigationBarTextStyle}" @click="onType('page')">

											<div class="Statusbar">

												<div class="time"> {{nowTime}} </div>

												<div class="bangs">

													<div class="sub"></div>

												</div>

												<div class="device">

													<i class="wlIcon wlIcon-xinhao"></i>

													<i v-if="signal == '3G'">3G</i>

													<i v-if="signal == '4G'">4G</i>

													<i v-if="signal == '5G'">5G</i>

													<i v-if="signal == 'WIFI'" class="wlIcon wlIcon-WIFI"></i>

													<i class="wlIcon wlIcon-dianchifull"></i>

												</div>

											</div>

											<div class="page-head">

												<span class="wanlicon">

													<i class="wlIcon wlIcon-fanhui1"></i>

												</span>

												<span class="title">

													{{pageData.page.params.navigationBarTitleText}}

												</span>

												<span class="wanlicon">

													<i class="wlIcon wlIcon-fenxiang"></i>

												</span>

											</div>

										</div>

										<!-- 模塊&拖動 -->

										<wanldraggable class="draggable" v-model="pageData.item" v-bind="{animation:500}">

											<div class="wanlshop" v-for="(item,index) in pageData.item" :key="index" @click="onType(index)" :class="{action: type == index}">

												<!-- 輪播組件 -->

												<div class="banner" v-if="item.type == 'banner'" :style="item.style">

													<img :src="cdnurl(item.data[0].image)">

													<div class="indicator">

														<div class="item">

															<span v-for="indic in item.data"></span>

														</div>

													</div>

												</div>

												<!-- 單圖 -->

												<div class="image" v-if="item.type == 'image'" :style="item.style">

													<img :src="cdnurl(item.data[0].image)">

												</div>

												<!-- 廣告輪播組件 -->

												<div class="advertBanner" v-if="item.type == 'advertBanner'" :style="item.style">

													<img src="/assets/addons/wanlshop/img/page/advert-banner.png">

													<div class="indicator">

														<div class="item">

															<span v-for="indic in item.data"></span>

														</div>

													</div>

												</div>

												<!-- 廣告單圖 -->

												<div class="advertImage" v-if="item.type == 'advertImage'" :style="item.style">

													<img src="/assets/addons/wanlshop/img/page/advert-image.png">

												</div>

												<!-- 視頻 -->

												<div class="video" v-if="item.type == 'video'" :style="item.style">

													<img :src="cdnurl(item.data[0].image)">

													<div class="play"><i class="wlIcon wlIcon-bofang"></i></div>

												</div>

												<!-- 菜單組件 -->

												<div class="menu" v-if="item.type == 'menu'" :style="item.style">

													<div class="grid text-center" :class="'col-' + item.params.colfive">

														<div class="item" v-for="meun in item.data" :style="{'margin-top':item.params.menuMarginTop}">

															<div class="picicon" :class="meun.bgClass" :style="{'height':item.params.menuHeightWidth,'width':item.params.menuHeightWidth,'margin-bottom':item.params.menuMarginBottom}">

																<span :class="meun.iconClass"><i class="wlIcon" :class="meun.icon" :style="{'font-size':item.params.menuIconSize}"></i></span>

															</div>

															<div :style="{'font-size':item.params.menuTextSize}">{{meun.text}}</div>

														</div>

													</div>

												</div>

												<!-- 公告欄 -->

												<div class="notice" v-if="item.type == 'notice'" :style="item.style">

													<i class="wlIcon wlIcon-notice margin-right-xs" v-if="item.params.show"></i><span>{{item.data[0].content}}</span>

												</div>

												<!-- 文章組件 -->

												<div class="article" v-if="item.type == 'article'" :style="item.style">

													<div class="item" v-for="article in item.data">

														<div class="image">

															<img :src="cdnurl(article.image)" >

														</div>

														<div class="article-content">

															<div class="title">

																{{article.articleTitle ? article.articleTitle : '請點擊右側操作欄選擇文章'}}

															</div>

															<div class="operate">

																<span v-if="item.params.showTime == 'true'">2020年5月30日20:53</span>

																<span v-if="item.params.showView == 'true'">瀏覽：100</span>

															</div>

														</div>

													</div>

												</div>

												<!-- 頭條組件 -->

												<div class="headlines" v-if="item.type == 'headlines'" :style="item.style">

													<div class="margin-lr-bj">

														<i class="wlIcon wlIcon-toutiao"></i>

													</div>

													<div class="swiper">

														<div class="list padding-tb-xs">

															<div class="text-sm">

																<div class="cu-tag sm radius bg-gradual-red margin-right-xs">熱門</div>

																..用戶端自動獲取後台頭條數據..

															</div>

															<div class="text-sm">

																<div class="cu-tag sm radius bg-gradual-red margin-right-xs">熱門</div>

																..用戶端自動獲取後台頭條數據..

															</div>

														</div>

														<div class="pic">

															<img :src="cdnurl(item.data[0].image)" >

														</div>

													</div>

												</div>

												<!-- 搜索欄 -->

												<div class="search" v-if="item.type == 'search'" :style="item.style">

													<div :style="{'border-radius':item.params.searchRadius,'background':item.params.searchBackground,'padding':item.params.searchPadding}">

														<i class="wlIcon wlIcon-sousuo margin-right-xs"></i><span>{{item.data[0].content}}</span>

													</div>

												</div>

												<!-- 活動櫥窗 -->

												<div class="category" v-if="item.type == 'activity'" :style="item.style">

													<div class="cu-list grid col-2-2_1">

														<div class="cu-item" v-for="(act, index) in item.data" :key="index">

															<div class="name">

																<span class="text-lg" :class="act.textColor">{{getParameter(act.activity)}}</span>

																<div v-if="act.tags" class="cu-tag round sm wanl-bg-orange"> 

																	<span class="wlIcon wlIcon-dot"></span>{{act.tags}}

																</div>

															</div>

															<div v-if="act.describe" class="wanl-gray">{{act.describe}}</div>

															<div class="goods margin-top-bj">

																<div v-for="image in getListNum('col-2-2_1', index)">

																	<img src="/assets/addons/wanlshop/img/common/img_default3x.png">

																</div>

															</div>

														</div>

													</div>

												</div>

												<!-- 分類櫥窗 -->

												<div class="category" v-if="item.type == 'classify'" :style="item.style">

													<div class="cu-list grid" :class="item.params.colStyle">

														<div class="cu-item" v-for="(cat, index) in item.data" :key="index">

															<div class="name">

																<span class="text-lg" :class="cat.textColor">{{categoryName(cat.categoryId)}}</span>

																<div v-if="cat.tags" class="cu-tag round sm wanl-bg-orange">

																	<span class="wlIcon wlIcon-dot"></span>{{cat.tags}}

																</div>

															</div>

															<div v-if="cat.describe" class="wanl-gray">{{cat.describe}}</div>

															<div class="goods margin-top-bj">

																<div v-for="image in getListNum(item.params.colStyle, index)">

																	<img src="/assets/addons/wanlshop/img/common/img_default3x.png">

																</div>

															</div>

														</div>

													</div>

												</div>

												<!-- 類目標題 -->

												<div class="categoryTitle" v-if="item.type == 'categoryTitle'" :style="item.style">

													<div class="text-lg"> <span class="wlIcon margin-right-xs" :class="item.data[0].icon"></span>

														{{item.data[0].categoryName}} ···</div>

													<div class="text-sm wanl-gray">更多 <span class="wlIcon wlIcon-fanhui2 margin-left-xs"></span> </div>

												</div>

												<!-- 猜你喜歡 -->

												<div class="product" v-if="item.type == 'likes'" :style="item.style" :class="'col-'+ item.params.colthree +'-'+item.params.colmargin" >

													<div class="item">

														<div class="item_pic">

															<img src="/assets/addons/wanlshop/img/common/img_default3x.png">

														</div>

														<div class="item_list padding-bj">

															<div class="margin-bottom-xs">

																<div class="text-df text-cut-2">自動獲取…自動獲取…自動獲取…</div>

																<div class="wanl-orange text-price text-lg">199</div>

															</div>

															<div>

																<div class="text-xs wanl-gray">

																	<span class="margin-right-sm">100+條評論</span> <span>100%好評率</span>

																</div>

															</div>

														</div>

													</div>



													<div class="item">

														<div class="item_pic">

															<img src="/assets/addons/wanlshop/img/common/img_default3x.png">

														</div>

														<div class="item_list padding-bj">

															<div class="margin-bottom-xs">

																<div class="text-df text-cut-2">自動獲取…自動獲取…自動獲取…</div>

																<div class="wanl-orange text-price text-lg">199</div>

															</div>

															<div>

																<div class="text-xs wanl-gray">

																	<span class="margin-right-sm">100+條評論</span> <span>100%好評率</span>

																</div>

															</div>

														</div>

													</div>

												</div>

												<!-- 商品組件 -->

												<div class="product" v-if="item.type == 'goods'" :style="item.style" :class="'col-'+ item.params.colthree +'-'+item.params.colmargin" >

													<div class="item" v-for="goods in item.data">

														<div class="item_pic">

															<img src="/assets/addons/wanlshop/img/common/img_default3x.png">

														</div>

														<div class="item_list padding-bj">

															<div class="margin-bottom-xs">

																<div class="text-df text-cut-2">標題標題標題標題標題標題標題標題標題標題標題標題標題標題標題標題</div>

																<div class="wanl-orange text-price text-lg">199</div>

															</div>

															<div class="">

																<div class="margin-bottom-xs">

																	<div class="cu-tag sm round bg-gradual-red">新品</div>

																	<div class="cu-tag sm round bg-white">領券66減6</div>

																</div>

																<div class="text-xs wanl-gray">

																	<span class="margin-right-sm">100+條評論</span> <span>100%好評率</span>

																</div>

															</div>

														</div>

													</div>

												</div>

												<!-- 砍價組件 -->

												<div class="bargain" v-if="item.type == 'bargain'" :style="item.style">

													<span>砍價組件-下個版本發布，敬請期待</span>

												</div>

												<!-- 秒殺組件 -->

												<div class="seckill" v-if="item.type == 'seckill'" :style="item.style">

													<span>秒殺組件-下個版本發布，敬請期待</span>

												</div>

												<!-- 搜索欄 -->

												<div class="empty" v-if="item.type == 'empty'" :style="item.style">

												</div>

												<!-- 分隔符 -->

												<div class="division" v-if="item.type == 'division'" :style="item.style">

													<div class="line" :style="{'width':item.params.lineWidth,'height':item.params.lineHeight,'background':item.params.lineBackground}"></div>

													<div class="linetext" :style="{'color':item.params.lineTextColor,'font-size':item.params.lineTextSize,'line-height':item.params.lineTextSize,'background':item.params.lineTextBackground,'padding':item.params.lineTextPadding}">

														{{item.params.lineText}}

													</div>

												</div>

												<div class="sub-del" @click="delModule(index)"><i class="wlIcon wlIcon-31guanbi"></i></div>

											</div>

										</wanldraggable>

									</div>

								</div>

								<div class="template">

									<div class="template-title">

										<span><i></i>自定義組件</span>

										<!-- <span>更多 <span class="wlIcon wlIcon-fanhuigengduo"></span></span> -->

									</div>

									<div class="control">

										<!-- 模板分組 -->

										<div class="element" v-for="(item,index) in module" :key="index">

											<div class="element-name"> {{getParameter(index)}}</div>

											<div class="element-row">

												<div v-for="element in item" @click="addTemplate(element)">

													<i class="wlIcon" :class="'wlIcon-'+element.type"></i>

													<span>{{element.name}}</span>

												</div>

											</div>

										</div>

									</div>

								</div>

							</div>

						</div>

						<!-- 編輯器 -->

						<div class="editor">

							<div class="bs-example bs-example-tabs" v-if="type == 'page'">

								<ul class="nav nav-tabs" role="tablist">

									<li class="active"><a href="#home" data-toggle="tab" aria-expanded="true">頁面配寘</a></li>

								</ul>

								<div class="tab-content">

									<div class="tab-pane fade active in" id="home">

										<p class="bg-info text-info"><strong>技巧：</strong>點擊模塊後，無法找到此頁面請點擊左側巡覽列即可返回！</p>

										<div class="form-group">

											<label>頁面名稱:</label>

											<input type="text" class="form-control" v-model="pageData.name">

										</div>

										<div class="form-group">

											<label>巡覽列標題:</label>

											<input type="text" class="form-control" v-model="pageData.page.params.navigationBarTitleText">

										</div>

										

										<h5 class="page-header"></h5>

										<div class="form-group">

											<label>巡覽列背景圖:</label>

											<div class="wanl-upload">

												<input class="form-control" type="text" v-model="pageData.page.style.navigationBackgroundImage">

												<input type="file" id="navigationBackground" accept="image/*" @change="changeImage($event,'navigationBackgroundImage')" style="display:none" >

												<label for="navigationBackground" class="btn btn-info">

													<i class="fa fa-upload"></i> 上傳

												</label>

											</div>

										</div>

										<div class="form-group">

											<label>巡覽列背景:</label>

											<div class="form-inline">

												<input type="text" class="form-control" v-model="pageData.page.style.navigationBarBackgroundColor"> <input

												 id="color" class="form-control" type="color" v-model="pageData.page.style.navigationBarBackgroundColor">

											</div>

										</div>

										<div class="form-group">

											<label>導航前景色:</label>

											<select class="form-control" v-model="pageData.page.style.navigationBarTextStyle">

												<option value="#ffffff">淺色（白色）</option>

												<option value="#000000">深色（黑色）</option>

											</select>

										</div>

										<h5 class="page-header"></h5>

										<div class="form-group">

											<label>頁面背景圖:</label>

											<div class="wanl-upload">

												<input class="form-control" type="text" v-model="pageData.page.style.pageBackgroundImage">

												<input type="file" id="pageBackground" accept="image/*" @change="changeImage($event,'pageBackgroundImage')" style="display:none" >

												<label for="pageBackground" class="btn btn-info">

													<i class="fa fa-upload"></i> 上傳

												</label>

											</div>

										</div>

										<div class="form-group">

											<label>頁面背景:</label>

											<div class="form-inline">

												<input type="text" class="form-control" v-model="pageData.page.style.pageBackgroundColor"> 

												<input id="color" class="form-control" type="color" v-model="pageData.page.style.pageBackgroundColor">

											</div>

										</div>

										<div class="form-group">

											<label>背景重複:</label>

											<select class="form-control" v-model="pageData.page.style.pageBackgroundRepeat">

												<option value="#ffffff">重複</option>

												<option value="#000000">不重複</option>

											</select>

										</div>

									</div>

								</div>

							</div>

							

							<!-- 組件 -->

							<div class="bs-example bs-example-tabs module-example" v-for="(item,index) in pageData.item" :key="index" v-if="type == index">

								<ul class="nav nav-tabs" role="tablist">

									<li class="active"><a href="#home" data-toggle="tab" aria-expanded="true">{{item.name}}數據</a></li>

									<li v-if="item.params !== undefined"><a href="#params" data-toggle="tab" aria-expanded="false">配寘參數</a></li>

									<li><a href="#style" data-toggle="tab" aria-expanded="false">CSS樣式</a></li>

								</ul>

								<div class="tab-content">

									<!-- 組件首頁 -->

									<div class="tab-pane fade active in" id="home">

										<div class="add-data" @click="addData(index,item.data[0])">

											<a class="btn btn-sm btn-info btn-append"><i class="fa fa-plus"></i> 追加數據</a>

										</div>

										<p class="bg-info text-info"><strong>注意：</strong>請自行判斷是否要添加數據，單數據如單圖追加無效！</p>

										<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

											<div class="panel panel-default" v-for="(lists,num) in item.data" :key="num">

												<div class="panel-heading" role="tab" :id="'heading-'+num">

													<h4 class="panel-title" role="button" data-toggle="collapse" data-parent="#accordion" :href="'#collapse-'+num" :aria-expanded="num==0?true:false" :aria-controls="'collapse-'+num">

														{{item.name}} <strong>#{{num+1}}</strong>

													</h4>

													<span @click="delData(index,num)"><i class="wlIcon wlIcon-31guanbi"></i></span> 

												</div>

												<div :id="'collapse-'+num" class="panel-collapse collapse" :class="num==0?'in':''" role="tabpanel" :aria-labelledby="'heading-'+num">

													<div class="panel-body">

														<div v-for="(datas,type) in lists" :key="type">

															<!-- 圖片上傳組件 -->

															<div class="form-group" v-if="type == 'image'">

																<label>圖片:</label>

																<div class="wanl-upload">

																	<input class="form-control" type="text" v-model="lists[type]"  placeholder="點擊右側上傳，上傳圖片">

																	<input type="file" :id="type+index+num" accept="image/*" @change="dataUpload($event,index,num,type)" :ref="type+index+num" style="display: none;">

																	<label :for="type+index+num" class="btn btn-info">

																		<i class="fa fa-upload"></i> 上傳

																	</label>

																</div>

																<ul class="row list-inline plupload-preview">

																	<li class="col-xs-3">

																		<a class="thumbnail"><img :src="cdnurl(lists[type])" class="img-responsive"></a>

																	</li>

																</ul>

															</div>

															<!-- 提示 -->

															<div class="tips" v-else-if="type == 'tips'">

																{{datas}}

															</div>

															<!-- 提示2 -->

															<div class="title form-group" v-else-if="type == 'title'">

																<span class="text-green">{{datas}}</span>

															</div>

															<!-- icon顏色 -->

															<div class="form-group" v-else-if="type == 'iconClass'">

																<label>icon顏色:</label>

																<select class="form-control" v-model="lists[type]">

																	<option value="text-white">白色</option>

																	<option value="wanl-black">純黑</option>

																	<option value="wanl-pip">標準黑</option>

																	<option value="wanl-gray-dark">深灰</option>

																	<option value="wanl-gray-light">淺灰</option>

																	<option value="wanl-text-white">白色（漸變）</option>

																	<option value="wanl-orange">橙色</option>

																	<option value="wanl-red">紅色</option>

																	<option value="text-yellow">黃色</option>

																	<option value="text-green">綠色</option>

																	<option value="text-blue">藍色</option>

																	<option value="text-olive">軍綠色</option>

																	<option value="text-cyan">青色</option>

																	<option value="text-purple">紫色</option>

																	<option value="text-mauve">洋紫</option>

																	<option value="text-pink">粉色</option>

																	<option value="text-brown">棕色</option>

																	<option value="wanl-text-red">紅色（漸變）</option>

																	<option value="wanl-text-yellow">黃色（漸變）</option>

																	<option value="wanl-text-orange">橙色（漸變）</option>

																	<option value="wanl-text-violet">紫羅蘭（漸變）</option>

																	<option value="wanl-text-blue">藍色（漸變）</option>

																	<option value="wanl-text-light-blue">淺藍色（漸變）</option>

																	<option value="wanl-text-pink">粉色（漸變）</option>

																	<option value="wanl-text-green">綠色（漸變）</option>

																	<option value="wanl-text-purple">紫色（漸變）</option>

																</select>

															</div>

															<!-- 背景樣式下拉 -->

															<div class="form-group" v-else-if="type == 'bgClass'">

																<label>背景:</label>

																<select class="form-control" v-model="lists[type]">

																	<option value="wanl-bg-transparent">透明（無）</option>

																	<option value="bg-white">白色</option>

																	<option value="wanl-bg-redorange">橘紅色（漸變）</option>

																	<option value="wanl-bg-orange">橙色（漸變）</option>

																	<option value="wanl-bg-pink">粉色（漸變）</option>

																	<option value="wanl-bg-blue">藍色（漸變）</option>

																	<option value="bg-gradual-yellow">黃色（漸變）</option>

																	<option value="bg-gradual-red">洋紅（漸變）</option>

																	<option value="bg-gradual-orange">黃橙（漸變）</option>

																	<option value="bg-gradual-green">草綠（漸變）</option>

																	<option value="bg-gradual-purple">紫色（漸變）</option>

																	<option value="bg-gradual-pink">洋紫（漸變）</option>

																	<option value="bg-gradual-blue">藍綠（漸變）</option>

																	<option value="bg-red">紅色</option>

																	<option value="bg-orange">橙色</option>

																	<option value="bg-yellow">黃色</option>

																	<option value="bg-olive">軍綠</option>

																	<option value="bg-green">綠色</option>

																	<option value="bg-cyan">青色</option>

																	<option value="bg-blue">藍色</option>

																	<option value="bg-purple">墨紫</option>

																	<option value="bg-mauve">洋紫</option>

																	<option value="bg-pink">粉紅</option>

																	<option value="bg-brown">棕色</option>

																</select>

															</div>

															<!-- 鏈接地址 -->

															<div class="form-group" v-else-if="type == 'link'">

																<h5 class="page-header"></h5>

																<label>鏈接地址:</label>

																<div class="wanl-upload">

																	<input type="text" class="form-control" v-model="lists[type]" placeholder="點擊右側選擇按鈕選擇鏈接">

																	<button @click="obtainLink(index,num,type,'false')" class="btn btn-primary wanl-link"><i class="fa fa-link"></i> 選擇 </button>

																</div>

															</div>

															<!-- 類目鏈接 -->

															<div class="form-group" v-else-if="type == 'categoryLink'">

																<h5 class="page-header"></h5>

																<label>類目鏈接:</label>

																<div class="wanl-upload">

																	<input type="text" class="form-control" v-model="lists[type]" placeholder="點擊右側選擇按鈕選擇類目ID">

																	<button @click="categoryLink(index, num, 'false')" class="btn btn-primary wanl-link"><i class="fa fa-link"></i> 選擇 </button>

																</div>

															</div>

															<!-- 視頻地址 -->

															<div class="form-group" v-else-if="type == 'video'">

																<h5 class="page-header"></h5>

																<label>選擇視頻:</label>

																<div class="wanl-upload">

																	<input type="text" class="form-control" v-model="lists[type]" placeholder="點擊右側選擇按鈕選擇鏈接">

																	<button @click="attachmentLink(index,num,type,'false')" class="btn btn-primary wanl-link"><i class="fa fa-list"></i> 選擇 </button>

																</div>

															</div>

															<!-- icon類名 -->

															<div class="form-group" v-else-if="type == 'icon'">

																<label>圖標類名:</label>

																<div class="wanl-upload">

																	<input type="text" class="form-control" v-model="lists[type]" placeholder="點擊右側選擇按鈕選擇圖標">

																	<button @click="iconLink(index, num, type, 'false')" class="btn btn-info wanl-link"><i class="fa fa-bars"></i> 選擇 </button>

																</div>

															</div>

															<!-- 商品鏈接 -->

															<div class="form-group" v-else-if="type == 'goodsLink'">

																<label>商品:</label>

																<div class="wanl-upload">

																	<input type="text" class="form-control" v-model="lists[type]" placeholder="點擊右側選擇按鈕選擇商品ID">

																	<button @click="goodsLink(index,num,type,'false')" class="btn btn-info wanl-link"><i class="fa fa-bars"></i> 選擇 </button>

																</div>

															</div>

															

															<!-- 類目名 -->

															<div class="form-group" v-else-if="type == 'categoryName'">

																<label>類目名:</label>

																<input type="text" class="form-control" v-model="lists[type]" disabled />

															</div>

															<!-- 內容 -->

															<div class="form-group" v-else-if="type == 'content'">

																<label>內容:</label>

																<input type="text" class="form-control" v-model="lists[type]" placeholder="請輸入內容">

															</div>

															

															<!-- 活動類型 -->

															<div class="form-group" v-else-if="type == 'activity'">

																<label>活動類型:</label>

																<select class="form-control" v-model="lists[type]">

																	<option value="distribution">分銷</option>

																	<option value="group">團購拼團</option>

																	<option value="bargain">砍價</option>

																	<option value="rush">限時搶購</option>

																	<option value="coupon">領券中心</option>

																</select>

															</div>

															<!-- 字體顏色 -->

															<div class="form-group" v-else-if="type == 'textColor'">

																<label>字體顏色:</label>

																<select class="form-control" v-model="lists[type]">

																	<option value="wanl-black">黑色</option>

																	<option value="wanl-pip">標準黑</option>

																	<option value="wanl-orange">橙色</option>

																	<option value="wanl-red">萬聯紅</option>

																	<option value="text-red">紅色</option>

																	<option value="text-yellow">黃色</option>

																	<option value="text-green">綠色</option>

																	<option value="text-blue">藍色</option>

																	<option value="text-olive">軍綠色</option>

																	<option value="text-cyan">青色</option>

																	<option value="text-purple">紫色</option>

																	<option value="text-mauve">洋紫</option>

																	<option value="text-pink">粉色</option>

																	<option value="text-brown">棕色</option>

																	<option value="wanl-gray-dark">深灰</option>

																	<option value="wanl-gray-light">淺灰</option>

																</select>

															</div>

															<!-- 類目 -->

															<div class="form-group" v-else-if="type == 'categoryId'">

																<label>選擇類目:</label>

																<select class="form-control" v-model="lists[type]">

																	<option v-for="cate in pageCategory" :value ="cate.id">{{mergeSpace(cate.spacer)}} {{cate.name}}</option>

																</select>

															</div>

															<!-- 普通表單 -->

															<div class="form-group" v-else>

																<label>{{getParameter(type)}}:</label>

																<input type="text" class="form-control" v-model="lists[type]" :placeholder="'請輸入' + getParameter(type)">

															</div>

														</div>

													</div>

												</div>

											</div>

										</div>

									</div>

									<!-- 組件參數 -->

									<div class="tab-pane fade" id="params">

										<p class="bg-warning text-warning"><strong>提示：</strong>如參數有「px單位」請勿去掉並且只能爲px（客戶端會自動轉換爲自適應rpx）</p>

										<div class="form-group" v-for="(params,type) in item.params" :key="type">

											<!-- 指示器樣式 -->

											<div v-if="type == 'banstyle'">

												<label>指示器樣式:</label>

												<select class="form-control" v-model="item.params[type]">

													<option value="1">圓形</option>

													<option value="2">長形</option>

												</select>

											</div>

											<!-- 布局方式 -->

											<div v-else-if="type == 'colStyle'">

												<label>布局方式:</label>

												<select class="form-control" v-model="item.params[type]">

													<option value="col-1-2-2">1-2-2布局</option>

													<option value="col-1-1_2">1-1_2布局</option>

													<option value="col-2-1_2">2-1_2布局</option>

													<option value="col-2-2_1">2-2_1布局</option>

													<option value="col-2-2-1_2">2-2-1_2布局</option>

													<option value="col-2-4">2-4布局</option>

													<option value="col-2-2-4">2-2-4布局</option>

												</select>

											</div>

											<!-- 每行數量 -->

											<div v-else-if="type == 'colthree'">

												<label>每行數量:</label>

												<select class="form-control" v-model="item.params[type]">

													<option value="1">每行 1 列</option>

													<option value="2">每行 2 列</option>

													<option value="3">每行 3 列</option>

												</select>

											</div>

											<!-- 每行數量 -->

											<div v-else-if="type == 'colfive'">

												<label>每行數量:</label>

												<select class="form-control" v-model="item.params[type]">

													<option value="1">每行 1 列</option>

													<option value="2">每行 2 列</option>

													<option value="3">每行 3 列</option>

													<option value="4">每行 4 列</option>

													<option value="5">每行 5 列</option>

												</select>

											</div>

											<!-- 列邊距 -->

											<div v-else-if="type == 'colmargin'">

												<label>邊距:</label>

												<select class="form-control" v-model="item.params[type]">

													<option value="10">5像素（10rpx）</option>

													<option value="15">7.5像素（15rpx）</option>

													<option value="20">10像素（20rpx）</option>

													<option value="25">12.5像素（25rpx）</option>

													<option value="30">15像素（30rpx）</option>

												</select>

											</div>

											<!-- 判斷開關 -->

											<div v-else-if="type == 'show'">

												<label>通知欄圖標:</label>

												<select class="form-control" v-model="item.params[type]">

													<option value="true">顯示</option>

													<option value="">不顯示</option>

												</select>

											</div>

											<div v-else-if="type == 'showTime'">

												<label>文章日期:</label>

												<select class="form-control" v-model="item.params[type]">

													<option value="true">顯示</option>

													<option value="false">不顯示</option>

												</select>

											</div>

											<div v-else-if="type == 'showView'">

												<label>瀏覽次數:</label>

												<select class="form-control" v-model="item.params[type]">

													<option value="true">顯示</option>

													<option value="false">不顯示</option>

												</select>

											</div>

											<!-- 搜索顏色選項 -->

											<div class="form-inline" v-else-if="type == 'searchBackground'">

												<label>搜索條背景:</label>

												<input type="text" class="form-control" v-model="item.params[type]"> <input id="color" class="form-control"

												 type="color" v-model="item.params[type]">

											</div>

											<!-- 線段顏色 -->

											<div class="form-inline" v-else-if="type == 'lineBackground'">

												<label>線段顏色:</label>

												<input type="text" class="form-control" v-model="item.params[type]"> <input id="color" class="form-control"

												 type="color" v-model="item.params[type]">

											</div>

											<!-- 分隔字體顏色 -->

											<div class="form-inline" v-else-if="type == 'lineTextColor'">

												<label>字體顏色:</label>

												<input type="text" class="form-control" v-model="item.params[type]"> <input id="color" class="form-control"

												 type="color" v-model="item.params[type]">

											</div>

											<!-- 分隔字體背景顏色選項 -->

											<div class="form-inline" v-else-if="type == 'lineTextBackground'">

												<label>字體背景顏色:</label>

												<input type="text" class="form-control" v-model="item.params[type]"> <input id="color" class="form-control"

												 type="color" v-model="item.params[type]">

											</div>

											<!-- 默認表單 -->

											<div v-else>

												<label>{{getParameter(type)}}:</label>

												<input type="text" class="form-control" v-model="item.params[type]">

											</div>

										</div>

									</div>

									<!-- 組件樣式 -->

									<div class="tab-pane fade" id="style">

										<p class="bg-danger text-danger"><strong>提示：</strong>操作本項需掌握前端CSS基礎，不了解前端的同學，請保持默認樣式，不建議您追加 / 修改樣式；</p>

										<div class="form-group" v-for="(styles,type) in item.style" :key="type">

											<label>

												<div>{{type}} {{moduleStyle[type].name}}:</div>

												<div class="del" @click="delStyle(index,type)"><i class="wlIcon wlIcon-31guanbi"></i></div>

											</label>

											<div class="form-inline" v-if="type == 'color' || type == 'background-color'">

												<input type="text" class="form-control" v-model="item.style[type]"> <input id="color" class="form-control"

												 type="color" v-model="item.style[type]">

											</div>

											<div v-else>

												<input type="text" class="form-control" v-model="item.style[type]">

											</div>

										</div>

										<div class="dropdown">

											<a class="btn btn-sm btn-success btn-append" data-target="#" data-toggle="dropdown" role="button"

											 aria-haspopup="true" aria-expanded="false"><i class="fa fa-plus"></i> 追加新樣式</a>

											<ul class="dropdown-menu">

												<li v-for="(item,type) in moduleStyle" :key="type">

													<a @click="addStyle(index,type,item.default)">{{item.name}}</a>

												</li>

											</ul>

										</div>

									</div>

								</div>

							</div>

						</div>

					</div>

				</div>

			</div>

		</div>

	</div>

</div>
